* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "InterRegular";
  src: url(./Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "InterBold";
  src: url(./Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Lexend_Deca_Regular";
  src: url(./Lexend_Deca/static/LexendDeca-Regular.ttf);
}
body {
  border: 2px solid lightcoral;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: hsl(233, 47%, 7%);
}
.container {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  width: 90%;
  max-width: 750px;
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
  overflow: hidden;
}
.subcontainer1 {
  display: flex;
  align-items: center;
  width: 100%;
  /* flex: 1; */
}
.subsubcontainer1 {
  padding: 33px;
  /* margin-right: 25px; */
}
.subsubcontainer1 > p {
  font-family: "Lexend_Deca_Regular";
  font-size: 12px;
  line-height: 1.1rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.subcontainer2 {
  width: 100%;
  position: relative;
}

.subcontainer2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.4;
}

.subcontainer2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.childcontainer {
  display: flex;
  justify-content: space-between;
  width: 74%;
}
h2 {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "InterBold";
}
.subsubcontainer1 > p {
  margin-bottom: 40px;
}

.childcontainer p {
  font-size: 10px;
  font-family: "Lexend_Deca_Regular";
  color: hsla(0, 0%, 100%, 0.6);
}

.childcontainer h3 {
  font-family: "InterBold";
  font-size: 16px;
}

@media (max-width: 740px) {
  .childcontainer {
    width: 100%;
  }
}
@media (max-width: 554px) {
  .container {
    flex-direction: column-reverse;
    max-width: 230px;
  }

  .subcontainer2 {
    height: 150px;
  }
  .subsubcontainer1 {
    text-align: center;
  }
  .subcontainer1 h2 {
    font-size: 19px;
  }
  .subsubcontainer1 > p {
    font-size: 11px;
  }

  .childcontainer {
    flex-direction: column;
  }
  .childcontainer span {
    margin-bottom: 14px;
  }

  .lastspan {
    margin-bottom: 30px;
  }
  .subcontainer2 img {
    object-fit: cover;
  }
}
